In [ ]:
import pandas as pd

IN the below piece of code we are filtering out applicants who meet the minimum technical requirements that is
python level = 3,
ml level = 3 ,
nlp level= 1,
dl = 1(we can modify the requirements based on our need)
we also assigned an ID column which will help in referencing the candidates as names column is empty .hence we drop names column
We also dropped all dropped all performance column as i belive grades dont truly define a person . skills matter more .However, if we'd like to compare 2 equally stron candidates we can us the performances.

In [ ]:

def filtering_applicants(dataset_path,start_req,python_req,ml_req,nlp_req,dl_req):

  df = pd.read_csv(dataset_path)
  filtered_df = df[
      (df["Are you available for 3 months, starting immediately, for a full-time work from home internship? "] == start_req) &
       (df['Python (out of 3)'] >= python_req) &
        (df['Machine Learning (out of 3)'] >= ml_req) &
         (df['Natural Language Processing (NLP) (out of 3)'] >= nlp_req)&
          (df['Deep Learning (out of 3)'] >= dl_req)

    ]
  filtered_df = filtered_df.drop(['Name', 'Performance_PG', 'Performance_UG', 'Performance_12', 'Performance_10'], axis=1)  # Delete specified columns
  filtered_df['ID'] = 0
  counter = 1
  for index, row in filtered_df.iterrows():
    filtered_df.at[index, 'ID'] = counter
    counter += 1

  return filtered_df

dataset_path= "/content/Applications_for_Machine_Learning_internship_edited.xlsx - Sheet1.csv"
start_req= "Yes, I am available for 3 months starting immediately for a full-time internship."
python_req= 3
ml_req= 2
nlp_req= 1
dl_req=1
filtered_applicants = filtering_applicants(dataset_path,start_req,python_req,ml_req,nlp_req,dl_req)
#print(filtered_applicants)
filtered_applicants.to_csv('filtered_dataset.csv', index=False)
df1=pd.read_csv("/content/filtered_dataset.csv")
df1

,Python (out of 3),Machine Learning (out of 3),Natural Language Processing (NLP) (out of 3),Deep Learning (out of 3),Other skills,"Are you available for 3 months, starting immediately, for a full-time work from home internship?",Degree,Stream,Current Year Of Graduation,ID
0,3,3,3,3,"Data Analytics, Deep Learning, Flask, Image Pr...","Yes, I am available for 3 months starting imme...",Post Graduate Diploma in Management (P.G.D.M.),Data Science And Business Analytics,2022,1
1,3,2,2,2,"Data Science, Database Management System (DBMS...","Yes, I am available for 3 months starting imme...",Integrated M.Sc.,Data Science,2024,2
2,3,2,3,3,"Computer Vision, Data Science, Deep Learning, ...","Yes, I am available for 3 months starting imme...",B.Tech,computer science,2024,3
3,3,2,2,2,"Computer Vision, Python, Algorithms, Amazon We...","Yes, I am available for 3 months starting imme...",Bachelor of Technology (B.Tech),Computer Science & Engineering,2024,4
4,3,3,1,2,"Data Analytics, Data Science, English Proficie...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science,2024,5
...,...,...,...,...,...,...,...,...,...,...
82,3,3,2,2,"C Programming, C++ Programming, CSS, HTML, Mac...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2024,83
83,3,3,2,3,"Deep Learning, English Proficiency (Spoken), E...","Yes, I am available for 3 months starting imme...",Bachelor of Science (B.Sc),computer science,2025,84
84,3,2,1,1,"Python, Algorithms, Computer Vision, Data Scie...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2024,85
85,3,3,2,3,"Data Analytics, Data Science, Data Structures,...","Yes, I am available for 3 months starting imme...",B.Tech,computer science,2022,86
86,3,3,2,3,"Deep Learning, Docker, HTML, MS-Office, Machin...","Yes, I am available for 3 months starting imme...",B.Tech,Computer Science & Engineering,2024,87

In this piece of code we are calculating the scores which will help us identify the best candidate .

In [ ]:
def calculate_score(row, python_req, ml_req, nlp_req, dl_req, other_skills_weight):
    score = 0

    # Technical skills
    score += row['Python (out of 3)'] * python_req
    score += row['Machine Learning (out of 3)'] * ml_req
    score += row['Natural Language Processing (NLP) (out of 3)'] * nlp_req
    score += row['Deep Learning (out of 3)'] * dl_req

    # Other relevant skills with weights
    if 'Git' in row['Other skills']:
        score += 1 * other_skills_weight
    if 'Docker' in row['Other skills']:
        score += 1 * other_skills_weight
    if 'R' in row['Other skills']:
        score += 1 * other_skills_weight
    if 'SQL' in row['Other skills']:
        score += 1 * other_skills_weight
    if 'Data Science' in row['Other skills']:
        score += 1 * other_skills_weight
    if 'C++ Programming' in row['Other skills']:
        score += 1 * other_skills_weight
    if 'Java' in row['Other skills']:
        score += 1 * other_skills_weight
    if 'Unix' in row['Other skills']:
        score += 1 * other_skills_weight
    if ' Flask' in row['Other skills']:
        score += 1 * other_skills_weight
    if 'Amazon Web Services (AWS)' in row['Other skills']:
        score += 1 * other_skills_weight
    if ' OpenCV' in row['Other skills']:
        score += 1 * other_skills_weight
    if ' Torch' or 'PyTorch' in row['Other skills']:
        score += 1 * other_skills_weight
    if ' Tensorflow' in row['Other skills']:
        score += 1 * other_skills_weight

    if ' Django' in row['Other skills']:
        score += 1 * other_skills_weight
    if ' Hadoop' in row['Other skills']:
        score += 1 * other_skills_weight
    if ' MongoDB' in row['Other skills']:
        score += 1 * other_skills_weight



    return score

def find_best_applicant(df, python_req, ml_req, nlp_req, dl_req, year_req, other_skills_weight):
    # Filter applicants based on year of graduation
    filtered_df = df[df['Current Year Of Graduation'] <= year_req]

    # Calculate scores for each applicant
    filtered_df['Score'] = filtered_df.apply(lambda row: calculate_score(row, python_req, ml_req, nlp_req, dl_req, other_skills_weight), axis=1)

    # Find the applicant with the highest score
    best_applicant = filtered_df.loc[filtered_df['Score'].idxmax()]
    print("Best Candidate:")
    print("ID:", best_applicant['ID'])
    print("Skill Levels:")
    print("Python:", best_applicant['Python (out of 3)'])
    print("Machine Learning:", best_applicant['Machine Learning (out of 3)'])
    print("Natural Language Processing (NLP):", best_applicant['Natural Language Processing (NLP) (out of 3)'])
    print("Deep Learning:", best_applicant['Deep Learning (out of 3)'])
    print("Other Skills:", best_applicant['Other skills'])
    print("Current Year Of Graduation:", best_applicant['Current Year Of Graduation'])
    print("Availibility:", best_applicant['Are you available for 3 months, starting immediately, for a full-time work from home internship? '])
    print("Degree:", best_applicant['Degree'])
    print("Stream:", best_applicant['Stream'])


    return best_applicant

# Example usage
python_req = 3
ml_req = 2
nlp_req = 1
dl_req = 1
year_req = 2024
other_skills_weight = 0.5

best_applicant = find_best_applicant(filtered_applicants, python_req, ml_req, nlp_req, dl_req, year_req, other_skills_weight)

Best Candidate:
ID: 36
Skill Levels:
Python: 3
Machine Learning: 3
Natural Language Processing (NLP): 3
Deep Learning: 3
Other Skills: C Programming, C++ Programming, Data Analytics, Data Science, Data Structures, Database Management System (DBMS), Deep Learning, Docker, Java, Machine Learning, Natural Language Processing (NLP), NoSQL, Python, R Programming, SQL, CI/CD, Computer Vision, Flask, Git, JavaScript, Linux, MS-Excel, MongoDB, OpenCV
Current Year Of Graduation: 2024
Availibility: Yes, I am available for 3 months starting immediately for a full-time internship.
Degree: B.Tech
Stream: Computer Science & Engineering

<ipython-input-31-7d5cc674ae89>:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Score'] = filtered_df.apply(lambda row: calculate_score(row, python_req, ml_req, nlp_req, dl_req, other_skills_weight), axis=1)